* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

/*Header Menu*/
.navbar {
	background-color: grey;
	overflow: hidden;
}

.navbar a {
	float: left;
	display: block;
	color: darkblue;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.navbar a:hover {
	background-color: lightgrey;
	color: black;
}

.navbar a.active {
	background-color: black;
	color: white;
}

.navbar .icon {
	display: none;
}

/*Main Content*/
/*Footer*/
.bottom-site {
	background-color: grey;
	padding: 50px 0 40px;
	margin-top: 20px;
	text-align: center;
}

.bottom-site a {
	color: darkblue;
	margin: 5px;
	text-decoration: none;
}

.bottom-site a:hover {
	color: #fff;
}

.copyright {
	color: #eaf6f6;
	font-size: 15px;
	padding: 25px 0;
}
/*Clear Floats*/
/*Media Queries*/
@media screen and (max-width: 600px) {
	.navbar a:not(:first-child) {
		display: none;
	}
	.navbar a.icon {
		float: right;
		display: block;
	}
}

@media screen and (max-width: 600px) {
	.navbar.responsive {
		position: relative;
	}
	.navbar.responsive a.icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	.navbar.responsive a {
		float: none;
		display: block;
		text-align: left;
	}
}