.vacation {
	background-color: #f1f1f1;
}

.navbar {
	background-color: #222;
	border-color: #080808;
	position: relative;
	min-height: 50px;
	margin-bottom: 20px;
	border: 1px solid transparent;
}

.vacay-row {
	padding: 0 20px;
}

.vacay-row:after {
	content: "";
	display: table;
	clear: both;
}

.vacay-card {
	background-color: white;
	padding: 20px;
	margin-top: 20px;
	border-radius: 10px;
}

.vacay-card h1 {
	text-align: center;
	margin-top: 0;
}

.vacay-card h3 {
	text-align: center;
}

.vacay-right-col {
	float: left;
	width: 25%;
	padding-right: 20px;
}

.fakeimg1 {
	margin-bottom: 50px;
}

.fakeimg1 img {
	width: 100%;
	height: auto;
}

.vacay-left-col {
	float: left;
	width: 75%;
}







.vacay-card-socials {
	display: flex;
	justify-content: center;
	align-items: center;
}

a.card-socials {
	text-decoration: none;
	color: red;
	font-size: 20px;
	letter-spacing: 20px;
}

.fakeimg {
	background-color: #aaa;
	width: 100%;
	padding: 20px;
}





@media screen and (max-width: 800px) {
	.vacay-left-col,
	.vacay-right-col {
		width: 100%;
		padding: 0;
	}
}