.vacay {
	background-color: #f1f1f1;
}

.vacation {
	padding: 20px;
}

/*Center*/
.main {
	max-width: 1000px;
	margin: auto;
}

.row {
	margin: 10px -16px;
}

/*Clear floats*/
.row:after {
	content: "";
	display: table;
	clear: both;
}

/*Padding between columns*/
.row,
.row > .column {
	padding: 8px;
}

/*Three equal float columns*/
.column {
	float: left;
	width: 33.33%;
}

/*Content*/
.content {
	background-color: white;
	padding: 10px;
	margin-top: 20px;
	border-radius: 10px;
}

.content h3 {
	text-align: center;
}

.content p {
	line-height: 1.25;
	font-size: 16px;
}

.content a {
	color: orange;
	text-decoration: none;
}